#map {
    width: 100%; /* Adjusts width to fit the page */
    height: 500px; 
    margin: 0 auto; /* Center the map */
    border: 1px solid #ccc; /* Styling */
    margin-top: 70px; /* Adjust the top margin to make room for the navbar */
}

#textContent {
    margin-left: 32px;
}
#pubs {
    margin-top: 38px;
}

ul {
    list-style: none; /* remove bullets */
   
}

.card {
    margin-bottom: 38px;
}
.card-img-top { /* keeps card image the same size on all cards */
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

  section.hero {
    height: 39.75rem;
    background-color: yellowgreen;
  
  
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 8.875rem;
  }

.hero-content {
    position: absolute;
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 1.5rem;
    font-family: 'Poppins';
    font-weight: bolder;
  }

  section.hero.contact {
    background-image: url('../assets/images/contact-us2.jpg');
  }  

  .hero-content.contact {
    /* Convert 200px to rem (based on a base font size of 16px) */

    margin-top: 30rem;
    max-width: 1000px;
    }

    form button {
        margin-top: 1rem;
      }

      nav {
        background-color: white;
      }

      #searchBar {
        margin-bottom: 16px;
      }


  