/* General styling for the map container */
#map {
    width: 100%; /* Adjusts width to fit the page */
    height: 31.25rem; 
    margin: 0 auto; /* Center the map */
    border: 0.0625rem solid #ccc; 
    margin-top: 4.375rem; /* Adjust the top margin to make room for the navbar */
}

/* General content styling */
#textContent {
    margin-left: 2rem; 
}

/* Styling for the pubs list */
#pubs {
    margin-top: 2.375rem; 
}

/* Remove bullets from lists */
ul {
    list-style: none; /* Remove bullets */
}

/* Card styles */
.card {
    margin-bottom: 2.375rem; 
}

/* Ensures all card images are the same size */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover; /* Keeps images proportional */
}

/* Styling for the hero section */
section.hero {
    height: 39.75rem; /* Maintains a consistent section height */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 8.875rem; 
}

/* Hero section content styling */
.hero-content {
    position: relative; /* Changed from absolute to relative */
    background-color: white;
    height: auto; 
    width: auto; 
    padding: 1.5rem; 
    font-family: 'Poppins';
    font-weight: bolder;
    margin: 1rem auto; /* Center the content with auto margins */
    max-width: 62.5rem; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* styling */
    border-radius: 0.5rem; /* Rounded corners */
}

/* Specific styling for the contact hero section */
section.hero.contact {
    background-image: url('assets/orange-megaphone.jpg');
}

.hero-content.contact {
    margin-top: 25rem; /* Adjust vertical spacing */
    max-width: 62.5rem;
    justify-content: center;
    text-align: center;

}

/* Form button spacing */
form button {
    margin-top: 1rem; /* Add spacing above buttons */
}

/* Navbar styling */
nav {
    background-color: white; /* Set a navbar color */
}

/* Styling for the search bar */
#searchBar {
    margin-bottom: 1rem; 
    max-width: 18.75rem;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .custom-map-section {
    height: 90vh;
  }
  
  #map {
    height: 100%;
    min-height: 300px;
  }
  